---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>About Us</h1>
	<p>
		Travel Bloom is a travel agency that helps you find the perfect trip. We are a team of travel experts who are passionate about helping you explore the world.
	</p>
	<p>
		We are a team of travel experts who are passionate about helping you explore the world.
	</p>
</Layout>
