---

---

<form>
	<label for="name">Name</label>
	<input type="text" id="name" name="name" />
	<label for="email">Email</label>
	<input type="email" id="email" name="email" />
	<label for="message">Message</label>
	<textarea id="message" name="message"></textarea>
	<button type="submit">Submit</button>
</form>

<style>
    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    input, textarea, button {
        padding: 0.5rem;
        border: 1px solid #ccc;
    }
    textarea {
        resize: vertical;
        min-height: 10rem;
        flex: 1;
    }
    button {
        background-color: #000;
        color: #fff;
    }
    button:hover {
        background-color: #333;
    }
</style>